@model LearnForeignWords.ViewModels.LoginViewModel
 <h1>@ViewBag.Message</h1>
<h2 class="text-center">Вход в приложение</h2>
<div class="mx-auto box orange col-md-6">
<form method="post" asp-controller="User" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-8 mx-auto">
        <label asp-for="Email" class="form-label"></label><br />
        <input asp-for="Email" class="input"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="col-8 mx-auto">
        <label asp-for="Password" class="form-label"></label><br />
        <input asp-for="Password" class="input"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="col-8 mx-auto">
     <div class="form-check">
        <input asp-for="RememberMe" class="form-check-input"/>   
        <label asp-for="RememberMe" class="form-check-label"></label><br />
    </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-info" value="Войти" />
    </div>
</form>
</div>