
<p class="">Приложение предназначено для изучения иностранных слов. На выбор представлен набор тем, в каждой из который есть отдельные наборы слов.<br>
	По каждому набору слов доступно три вида тестирования и карточки с транскрипцией и примерами для запоминания слов<br>
	Пользователь может добавить слово в набор избранных или  изученных слов. По каждому слову доступна статистика правильных и неправильных ответов.<br>
	Во вкладке "Дополнительно" доступны наборы с избранными, изученными, неизученными и всеми словами.<br>
	Во вкладке "Мои наборы" пользователь может создать собственный набор слов из доступных языков и изменить существующие.
	</p>
