@model Question

<div class="progress">
	<div class="progress-bar" role="progressbar" style="width: @(ViewBag.Number*10)%;" aria-valuenow="@(ViewBag.Number*10)" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="text-center" id="answers">
	<div class="box orange w-50 h mx-auto" style="height: 120px;">
		<div class="card-body">
			<h5 class="card-title">@Model.Word.Meaning</h5>

		</div>
	</div>
	<div class="row">

		@foreach (var item in Model.Answers)
		{
			<div class="col-6">
				<button type="button" class="list-group-item list-group-item-action  px-3 border-0 " id=@item>
					<div class="cardshadow card  orange mb-3" style="">
						<div class="card-body">
							<h5 class="cardtext">@item</h5>




						</div>
					</div>
				</button>
			</div>


		}
	</div>

</div>
<div class="text-center">
	<button type="button" class="btn btn-info" hidden id="next">Далее</button>
	<div class="box red card-subtitle" hidden id="rightAnswer"></div>
</div>


<script>
				$('#answers').on('click', 'button', function(){
					var elemet = $(this);
					$.post("/Test/Answer", { answer: $(this).prop('id')})
				.done(function (data) {
					if(data.result){
						elemet.addClass("list-group-item-success");
					}
					else{
						elemet.addClass("list-group-item-danger");
						$("#rightAnswer").text("Вы ответили неправильно. Правильный ответ:"+data.rightAnswer);

	$('#rightAnswer').removeAttr('hidden');
					}

					console.log(data);
					$('#next').removeAttr('hidden');

				});
				});
				$('#next').on('click',function(){
					$.get("/Test/GetQuestion", function(data) {
						$("#result_text").html(data);
				});

				});
</script>

