@model Test

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Результаты</h5>
    <p class="card-text">@Model.CountRightAnswers/@Model.Questions.Count</p>
    <p class="card-text">Вы ответили :</p>
    @foreach(var w in Model.GetAnswers())
        {
            if (w.IsRightAnswer)
            {
                <p class="card-text text-success">@w.UserAnswer </p>
            }
            else
            {
                <p class="card-text text-danger">@w.UserAnswer </p>
            }
        }
        
  </div>
</div>