<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Изучение иностранных слов</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Words</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Информация</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="Index">Темы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="AdditionallyCollections" asp-action="Index">Дополнительно</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="UserCollections" asp-action="Index">Мои наборы</a>
						</li>
					</ul>
					@if (User.Identity.IsAuthenticated)
					{
						<div class="d-flex">
							@User.Identity.Name
						</div>
						<form method="post" asp-controller="User" asp-action="Logout">
								<input class="btn btn-info" type="submit" value="Выход" />
							</form>
					}
					else
					{
						<span class="d-flex">
							<a class="btn btn-info" asp-controller="User" asp-action="Login">Вход</a>

							<a class="btn btn-info" asp-controller="User" asp-action="Register">Регистрация</a>
						</span>
					}



				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3 min-vh-100">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - LearnWords
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/define.js" asp-append-version="true"></script>
	 <script src="~/js/index.js" asp-append-version="true"></script>
	  <script src="~/js/test.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
