	<div class="row">
			<div class="col-6">
				<div class="cardshadow card  red mb-3 " style="">
					<div class="card-body">
						<h5 class="cardtext">Слово-Перевод</h5>
						<p class="card-text"></p>

							<a asp-action="Start" asp-controller="Game" asp-route-id="1"   class="btn btn-info">Начать</a>

					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="cardshadow card blue mb-3" style="">
					<div class="card-body">
						<h5 class="cardtext">Перевод-Слово</h5>
						<p class="card-text"></p>

						<a asp-action="Start" asp-controller="Game" asp-route-id="2"  class="btn btn-info">Начать</a>

					</div>
				</div>
			</div>

		
	</div>
